html {
   box-sizing: border-box;
}

*, 
*::after, 
*::before {
   box-sizing: inherit;
}

body {
   font-family: "Inter", sans-serif;
   font-weight: 400;
   font-size: 11px;
   line-height: 181%;
   color: #848484;
}

ul {
   padding: 0;
   margin: 0;
   list-style-type: none;
}

a {
   color: inherit;
   display: inline-block;
   text-decoration: none;
}

.container {
   width: 595px;
   margin: 0 auto;
   padding: 0 10px;
}

/* Header */
.header__inner {
   padding: 32px 0 46px;
   border-bottom: 1px solid #ECECEC;
   display: flex;
   align-items: center;
   gap: 20px;
}

.header__img {
   width: 100px;
   border-radius: 10px;
}

.title {
   font-weight: 600;
   font-size: 22px;
   line-height: 123%;
   color: #1a1a1a;
}

.title-h2 {
   font-weight: 600;
   font-size: 16px;
   line-height: 125%;
   color: #1a1a1a;
   margin-bottom: 12px;
}

/* Contacts */
.contact {
   padding: 28px 0;
   display: flex;
   gap: 80px;
   align-items: flex-start;
   border-bottom: 1px solid #ECECEC;
}

.contact__list {
   line-height: 127%;
   color: #272727;
}

.contact__list-item,
.social__list-item {
   display: flex;
   align-items: center;
   gap: 10px;
}

.contact__list-item + .contact__list-item {
   margin-top: 6px;
}

.social__title {
   font-weight: 400;
   line-height: 132%;
   color: #848484;
   margin-bottom: 16px;
}

.social__list {
   display: flex;
   align-items: center;
   gap: 20px;

   color: #1a1a1a;
   font-weight: 600;
   line-height: 111%;
}

.social__list-item {
   padding: 10px;
   background-color: #ebebeb;
   border-radius: 5px;
}

/* About */
.about {
   padding: 28px 8px;
   border-bottom: 1px solid #ECECEC;
}

.about__inner {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}

.about__text {
   width: 370px;
}

/* Education */
.education {
   padding: 28px 8px;
   border-bottom: 1px solid #ECECEC;
}

.education__inner {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}

.education__card-list {
   width: 370px;
   display: flex;
   gap: 10px 0;
   flex-wrap: wrap;
   justify-content: space-between;
}

.education__card {
   width: 115px;
   padding: 12px 12px;
   background-color: #ebebeb;
   border-radius: 5px;
}

.education__card-top {
   display: flex;
   align-items: center;
   gap: 8px;
   margin-bottom: 6px;
}

.education__card-title {
   font-size: 10px;
   line-height: 14px;
   font-weight: 500;
   margin: 0;
}

.education__card-subtitle {
   font-weight: 500;
   font-size: 10px;
   line-height: 14px;
   margin: 0;
}

.education__card-date {
   margin: 0;
   font-size: 8px;
}