html {
   box-sizing: border-box;
   scroll-behavior: smooth;
}

*, 
*::after, 
*::before {
   box-sizing: inherit;
}

body {
   font-family: "Inter", sans-serif;
   font-weight: 400;
   font-size: 11px;
   line-height: 181%;
   color: #848484;
}

ul {
   padding: 0;
   margin: 0;
   list-style-type: none;
}

a {
   color: inherit;
   display: inline-block;
   text-decoration: none;
}

a:hover {
   color:#1a1a1a;
   text-decoration: underline;
}

.container {
   width: 595px;
   margin: 0 auto;
   padding: 0 10px;
}

/* Header */
.header__inner {
   padding: 32px 0 46px;
   border-bottom: 1px solid #ECECEC;
   display: flex;
   align-items: center;
   gap: 20px;
}

.header__img {
   width: 100px;
   border-radius: 10px;
}

.title {
   font-weight: 600;
   font-size: 22px;
   line-height: 123%;
   color: #1a1a1a;
}

.title-h2 {
   font-weight: 600;
   font-size: 16px;
   line-height: 125%;
   color: #1a1a1a;
   margin-bottom: 12px;
}

.nav__list {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 28px 8px 10px;
   border-bottom: 1px solid #ECECEC;
}

/* Contacts */
.contact {
   padding: 28px 0px;
   display: flex;
   gap: 40px;
   align-items: flex-start;
   border-bottom: 1px solid #ECECEC;
}

.contact__list {
   line-height: 127%;
   color: #272727;
}

.contact__list-item,
.social__list-item {
   display: flex;
   align-items: center;
   gap: 10px;
}

.contact__list-item + .contact__list-item {
   margin-top: 6px;
}

.social__title {
   font-weight: 400;
   line-height: 132%;
   color: #848484;
   margin-bottom: 16px;
}

.social__list {
   display: flex;
   align-items: center;
   gap: 20px;

   color: #1a1a1a;
   font-weight: 600;
   line-height: 111%;
}

.social__list-item {
   padding: 10px;
   background-color: #ebebeb;
   border-radius: 5px;
}

/* About */
.about {
   padding: 28px 8px;
   border-bottom: 1px solid #ECECEC;
}

.about__inner {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}

.about__text {
   width: 370px;
}

/* Education */
.education {
   padding: 28px 8px;
   border-bottom: 1px solid #ECECEC;
}

.education__inner {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}

.education__card-list {
   width: 370px;
   display: flex;
   gap: 10px 0;
   flex-wrap: wrap;
   justify-content: space-between;
}

.education__card {
   width: 115px;
   padding: 12px 12px;
   background-color: #ebebeb;
   border-radius: 5px;
}

.education__card-top {
   display: flex;
   align-items: center;
   gap: 8px;
   margin-bottom: 6px;
}

.education__card-title {
   color: #1A1A1A;
   font-size: 10px;
   line-height: 14px;
   font-weight: 500;
   margin: 0;
}

.education__card-subtitle {
   font-weight: 400;
   font-size: 10px;
   line-height: 14px;
   margin: 0;
}

.education__card-date {
   margin: 0;
   font-size: 8px;
}

/*Skills*/
.skills {
   padding: 28px 8px;
   border-bottom: 1px solid #ECECEC;
}

.skills__inner {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}

.skills__list {
   width: 370px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 10px;
}

.skills__item {
   color: #1A1A1A;
   font-weight: 500;
   padding: 10px 20px;
   background-color: #ebebeb;
   border-radius: 5px;
}

/*Code*/
.code {
   padding: 28px 8px;
   border-bottom: 1px solid #ECECEC;
}

pre {
   margin: 0;
   padding: 0 0 13px;
}

.code__block {
   color: #1A1A1A;
   background-color: #ebebeb;
   border-radius: 5px;
   margin: 0 0 5px;
}

.code__block a {
   font-family: "Inter", sans-serif;
   font-weight: 600;
   font-size: 11px;
   text-decoration: underline;
}

/* Experience */
.experience {
   padding: 18px 8px;
   border-bottom: 1px solid #ECECEC
}

.experience__loading-loop {
   margin: 0 auto;
   width: 80px;
   height: 80px;
   --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-dasharray='15' stroke-dashoffset='15' stroke-linecap='round' stroke-width='2' d='M12 3C16.9706 3 21 7.02944 21 12'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.3s' values='15;0'/%3E%3CanimateTransform attributeName='transform' dur='1.5s' repeatCount='indefinite' type='rotate' values='0 12 12;360 12 12'/%3E%3C/path%3E%3C/svg%3E");
   background-color: currentColor;
   -webkit-mask-image: var(--svg);
   mask-image: var(--svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
   -webkit-mask-size: 100% 100%;
   mask-size: 100% 100%;
 }

 .experience__descr {
   font-size: 13px;
   text-align: center;
 }

 /* Languages */
 
.languages {
   padding: 28px 8px;
   border-bottom: 1px solid #ECECEC
}

 .languages__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .languages__list {
   display: flex;
   gap: 14px;
   color: #1A1A1A;
   font-weight: 500;
 }
 
 .languages__list-item {
   text-align: center;
   padding: 10px 20px;
   background-color: #ebebeb;
   border-radius: 5px;
 }

 /* Footer */
 .footer {
   padding: 28px 8px;
   font-size: 12px;
 }

 .footer__list {
   padding: 0 8px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }